<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Gestion de reservation TEK-UP</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Reservation</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- /.row -->

      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Réservation Table</h3>
              <button
                type="button"
                data-toggle="modal"
                data-target="#user-modal"
                class="card-title btn btn-primary"
                style="float: right"
                class="btn btn-primary"
              >
                Create Réservation
              </button>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table
              *ngIf="allReservations.length > 0"
                datatable
                class="row-border hover table table-hover text-nowrap"
              >
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>salle</th>
                    <th>dateDebut</th>
                    <th>dateFin</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let res of allReservations">
                    <td>{{ res.id }}</td>
                    <td>{{ res.salle.nameSalle }}</td>
                    <td>{{ res.dateDebut | date: 'dd/MM/YYYY' }}</td>
                    <td>{{ res.dateFin | date: 'dd/MM/YYYY' }}</td>
         

                    <td>
                
                      <i
                        class="fas fa-pen"
                        style="margin-left: 15px"
                        (click)="read(reservation)"
                        data-toggle="modal"
                        data-target="#user-modal"
                      ></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->

  <div class="modal fade" id="user-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" *ngIf="!editPopup">Ajouter Réservation</h4>
          <h4 class="modal-title" *ngIf="editPopup">Modifier Rservation</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="reservationForm">
            <div class="card-body">
              <div class="form-group">
                <label for="salle">Salle</label>
                <input
                  type="text"
                  formControlName="salle"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': errors.includes('salle') }"
                  id="salle"
                  placeholder="salle"
                />
                <span
                  id="salle-error"
                  *ngIf="errors.includes('salle')"
                  class="error invalid-feedback"
                >
                  {{ formError.salle }}</span
                >
              </div>

              <div class="form-group">
                <label for="dateDebut">date de debut</label>
                <textarea
                  class="form-control"
                  formControlName="dateDebut"
        
                  id="dateDebut"
                  placeholder="dateDebut"></textarea>
                <span
                  id="dateDebut-error"
                  *ngIf="errors.includes('dateDebut')"
                  class="error invalid-feedback"
                  >{{ formError.dateDebut }}</span
                >
              </div>

              <div class="form-group">
                <label for="dateFin">date de fin</label>
                <textarea
                  class="form-control"
                  formControlName="dateFin"
              
                  id="dateFin"
                  placeholder="dateFin"></textarea>
                <span
                  id="dateFin-error"
                  *ngIf="errors.includes('dateFin')"
                  class="error invalid-feedback"
                  >{{ formError.dateFin }}</span
                >
              </div>


            </div>
            <!-- /.card-body -->
          </form>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" #closeModal data-dismiss="modal">
            Close
          </button>
          <button type="button" *ngIf="!editPopup"  (click)="create()" class="btn btn-primary">
            Create
          </button>
          <button type="button" *ngIf="editPopup" [disabled]="formSubmissionFlag" (click)="update()" class="btn btn-primary">
            <div class="spinner-border text-light spinner" *ngIf="formSubmissionFlag"></div>
            Save changes
          </button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
