<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Gestion des salles</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">salles</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <!-- /.row -->

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Salles Table</h3>
            <button
              type="button"
              data-toggle="modal"
              data-target="#user-modal"
              class="card-title btn btn-primary"
              style="float: right"
              class="btn btn-primary"
            >
              Create Salle
            </button>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <table
            *ngIf="allSalles.length > 0"
              datatable
              class="row-border hover table table-hover text-nowrap"
            >
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Salle Name</th>
                  <th>capacite</th>
                  <th>equipement</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let salle of allSalles">
                  <td>{{ salle.id }}</td>
                  <td>{{ salle.nameSalle }}</td>
                  <td>{{ salle.capacite }}</td>
                  <td>{{ salle.equipement }}</td>

                  <td>
                    <i class="fas fa-trash" (click)="delete(salle)"></i>
                    <i
                      class="fas fa-pen"
                      style="margin-left: 15px"
                      (click)="read(salle)"
                      data-toggle="modal"
                      data-target="#user-modal"
                    ></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content -->

<div class="modal fade" id="user-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" *ngIf="!editPopup">Ajouter Salle</h4>
        <h4 class="modal-title" *ngIf="editPopup">Modifier Salle</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="salleForm">
          <div class="card-body">
            <div class="form-group">
              <label for="nameSalle">Salle Name</label>
              <input
                type="text"  
                formControlName="nameSalle"
                class="form-control"
                [ngClass]="{ 'is-invalid': errors.includes('nameSalle') }"
                id="nameSalle"
                placeholder="Salle Name"
              />
              <span
                id="nameSalle-error"
                *ngIf="errors.includes('nameSalle')"
                class="error invalid-feedback"
              >
                {{ formError.userName }}</span
              >
            </div>

            <div class="form-group">
              <label for="capacite">capacite</label>
              <input
                type="text"  
                formControlName="capacite"
                class="form-control"
                [ngClass]="{ 'is-invalid': errors.includes('capacite') }"
                id="capacite"
                placeholder="capacite"
              />
              <span
                id="capacite-error"
                *ngIf="errors.includes('capacite')"
                class="error invalid-feedback"
              >
                {{ formError.capacite }}</span
              >
            </div>

            <div class="form-group">
              <label for="equipement">equipement</label>
              <input
                type="text"  
                formControlName="equipement"
                class="form-control"
                [ngClass]="{ 'is-invalid': errors.includes('equipement') }"
                id="equipement"
                placeholder="equipement"
              />
              <span
                id="equipement-error"
                *ngIf="errors.includes('equipement')"
                class="error invalid-feedback"
              >
                {{ formError.equipement }}</span
              >
            </div>
          </div>
          <!-- /.card-body -->
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" #closeModal data-dismiss="modal">
          Close
        </button>
        <button type="button" *ngIf="!editPopup"  (click)="create()" class="btn btn-primary">
          Create
        </button>
        <button type="button" *ngIf="editPopup" [disabled]="formSubmissionFlag" (click)="update()" class="btn btn-primary">
          <div class="spinner-border text-light spinner" *ngIf="formSubmissionFlag"></div>
          Save changes
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
